<section class="light" id="casual">
    @if (hero is not null)
    {
        <img class="background" src="@(hero.Src)" alt="@(hero.Alt)" />
    }
    <h2>Casual</h2>
    <div style="background-color: rgba(250,250,250,0.7); width: 65%; padding: 4rem; margin: 3rem auto; text-align: center;box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
        @if (casual is null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <p class="large">@casual.Description</p>
            <hr />
            <ul style="text-align: left; columns: 2; font-size: 1.25rem; margin: 2rem 3rem; gap: 3rem;">
                @foreach (var skill in casual.Hobbies)
                {
                    <li key="@skill">@skill</li>
                }
            </ul>
            <hr />
            <p style="padding: 1rem 3rem 0;">@casual.DetailOrQuote</p>
        }
    </div>
</section>

@code {
    [Parameter, EditorRequired]
    public required HttpClient Http { get; set; }

    [Parameter, EditorRequired]
    public required HeroImageService HeroImageService { get; set; }

    private CasualModel? casual;
    private HeroImage? hero;

    protected override async Task OnInitializedAsync()
    {
        casual = await Http.GetFromJsonAsync<CasualModel>("sample-data/casual.json");
        hero = await HeroImageService.GetHeroAsync(img => img.Name is "casual");

    }
}
